body { background: #99ecea; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 38px; display: flex; }
.block-shipping-0 { color: #465fdb; font-size: 21px; margin-bottom: 5px; }
.block-helper-1 { color: #e2695a; font-size: 18px; margin-bottom: 5px; }
.block-router-2 { color: #1f4806; font-size: 12px; margin-bottom: 5px; }
.block-user-3 { color: #a913b0; font-size: 12px; margin-bottom: 5px; }
.block-cache-4 { color: #97e891; font-size: 13px; margin-bottom: 5px; }
.block-token-5 { color: #637337; font-size: 18px; margin-bottom: 5px; }